.box {
    height: 400px;
    width: 400px;
    position: absolute;
    top:40%;
    left:40%;
    background-color: aqua;
    color: black;
    
    border-radius: 20%;
    margin-right: 20%;
    size: 20%;
    

}
.container {
    display:grid;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
table {
    
    height:400px;
    width:400px;
    border-collapse: collapse;
    box-shadow: 0 4x 15px rgba(0,0,0,0.1);
    border-radius:8px;
    overflow:hidden;
     transition:all 0.2s ease;
     border-color: black;
}
td {
    border:1px solid #ddd;
    padding:10px 18px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    transition:all 0.2s ease;
}
td:hover {
    background-color: red;
    transform:scale(1.03);
    cursor:pointer;
}
